/* Accueil.css */
.rectangle {
    width: 90%; /* Largeur actuelle */
    height: 150px; /* Hauteur actuelle */
    margin: 120px auto; /* Augmentez la marge supérieure */
    border-radius: 15px;
    background-image: url('../Images/fond2.jpg'); /* Remplacez par le chemin de votre image */
    background-size: cover; /* Assure que l'image couvre entièrement le rectangle */
    background-position: center; /* Centre l'image dans le rectangle */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}
.texte-sur-image {
    position: absolute;
    top: 20%; /* Centrer verticalement */
    left: 30%; /* Centrer horizontalement */
    transform: translate(-50%, 0%); /* Ajuster la position précise du texte */
    color: #ff7b9c; /* ou toute autre couleur désirée */
    font-size: 30px; /* Taille de la police */
    text-align: center;
    /* Ajoutez d'autres styles de texte si nécessaire */
}
