.accueil-admin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
    flex-direction: column; 
}

.nouveau-tournoi-btn, .afficher-equipes-btn, .update-classement-btn, .supprimer-tournoi-btn {
    background-color: #FF7B9C; 
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    width: 80%; /* Vous pouvez ajuster la largeur selon vos besoins */
    margin: 10px 0; /* Ajouter une marge en haut et en bas pour espacer les boutons */
}
.nouveau-tournoi-btn:hover {
    background-color: #e66a85; 
}
