.accueil-admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 250px; /* Ajustez ceci en fonction de la barre de navigation */
    height: 100vh;
    overflow-y: auto; /* Permettre le défilement si les boutons dépassent la hauteur de la page */
}

.accueil-admin-container button {
    background-color: #FF7B9C;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    width: 80%; /* Ajustez la largeur si nécessaire */
    margin: 10px 0; /* Espacement entre les boutons */
}

.accueil-admin-container button:hover {
    background-color: #e66a85;
}


