.all {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdfff9;
}

.form-containerr {
    width: 90%;
    max-width: 400px;
    margin: auto;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    gap: 20px;
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-containerr h2 {
    color: #FF7B9C;
    margin-bottom: 1.5rem;
}

.form-containerr input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #537A5A;
    border-radius: 10px;
}

.form-containerr button {
    padding: 0.5rem;
    border: none;
    border-radius: 20px;
    background-color: #FF7B9C;
    color: #fdfff9;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
}

.form-containerr button:hover {
    background-color: #FF7B9C;
}

.form-containerr button:active {
    background-color: #FF7B9C;
    opacity: 0.8;
}

.success-message {
    color: green;
}

.error-message {
    color: red;
    background-color: #fff3f3;
    border: 1px solid red;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.footerr {
    position: fixed;
    width: 100%;
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    margin-top: 800px;
    margin-bottom: 10px;
}
