

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 

}



.button {
  width: 80%; 
  padding: 10px 0;
  margin: 10px 0; 
  font-size: 16px;
  border: none;
  border-radius: 20px;
  background-color: #FF7B9C; 
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #e66787; 
}

