/* InscriptionTournoi.css */

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Utilisez 100vh pour prendre toute la hauteur de la vue */

}



.button {
  width: 80%; /* Largeur du bouton */
  padding: 10px 0;
  margin: 10px 0; /* Espacement entre les boutons */
  font-size: 16px;
  border: none;
  border-radius: 20px;
  background-color: #FF7B9C; /* Couleur des boutons */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #e66787; /* Couleur au survol */
}
.valid-message {
    color: #537A5A;
    background-color: #fff3f3;
    border: 1px solid #537A5A;
    padding: 10px;
    
    border-radius: 5px;
    text-align: center;
}

/* Styles supplémentaires pour Navbar et Tapbar si nécessaire */
/* Assurez-vous que Navbar et Tapbar sont bien positionnés et ne chevauchent pas le contenu central */

/* Si vous souhaitez ajouter des styles supplémentaires pour le reste de la page, faites-le ici */
