body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
    background-color: #fdfff9;
}

.marque-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

.marque-container img {
    max-width: 250px;
}

.form-container {
    max-width: 400px;
    margin: auto;
    padding: 2rem;
    text-align: center;
}

.form-container h2 {
    color: #FF7B9C;
    margin-bottom: 1.5rem;
    margin-top: 50px;
}

.form-container input {
    max-width: 300px;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #537A5A;
    border-radius: 10px;
}

.form-container button {
    padding: 0.5rem;
    border: none;
    border-radius: 20px;
    background-color: #FF7B9C;
    color: #fdfff9;
    font-size: 1rem;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #FF7B9C;
}

.form-container button:active {
    background-color: #FF7B9C;
    opacity: 0.8;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.form-container p {
    margin-top: 1.5rem;
}

.form-container a {
    color: #FF7B9C;
    text-decoration: none;
}

.form-container a:hover {
    text-decoration: underline;
}

.logo-container img {
    max-width: 200px;
    height: auto;
    margin-top: 50px;
}

.error {
    color: red;
    margin-bottom: 1rem;
}

.error-message {
    color: red;
    background-color: #fff3f3;
    border: 1px solid red;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
}

.back-to-admin-button {
    background-color: #FF7B9C;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
    cursor: pointer;
    font-size: 0.75rem;
    position: absolute;
    top: 100px;
    left: 20px;
    z-index: 1000;
}
